.sidebar {
   max-height: 100vh;
   background-color: #fff;
   position: relative;
   width: 70px;
   transition: width linear 0.15s;
   flex-shrink: 0;
   border-right: 1px solid var(--a-10-cl);

   .head {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   @media screen and (max-width: 639px) {
      width: 55px;
   }

   &.expand {
      width: 180px;
   }
}
