.image-slider {
   position: absolute;
   inset: 0;
   scroll-behavior: smooth;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 2px 5px 15px 0 rgba($color: #000000, $alpha: 0.1);
   white-space: nowrap; // overflow horizontal only

   // image
   .slider-item {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      img {
         user-select: none; // prevent user select image
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         // box-shadow: 6px 6px 16px rgba($color: #000000, $alpha: 0.15);
         pointer-events: none;
      }
   }
}

// control
.slider-control {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 40px;
   width: 40px;
   font-size: 1.6rem;
   padding: 8px;
   background-color: #fff;
   color: #999;
   opacity: 0.7;
   z-index: 10;
   border-radius: 50%;
   box-shadow: 2px 4px 10px rgba($color: #000000, $alpha: 0.3);

   cursor: pointer;
   &:hover {
      opacity: 1;
   }
   i {
      user-select: none;
   }
}
.right-arrow {
   right: 16px;
}
.left-arrow {
   left: 16px;
}

// index
.slider-index {
   position: absolute;
   border-radius: 99px;
   bottom: 8px;
   left: 16px;
   font-size: 1.2rem;
   padding: 2px 10px;
   background-color: rgba($color: #000, $alpha: 0.3);
   color: #fff;
   z-index: 10;
   span {
      line-height: 14px;
   }
}
