@import "../../common";

.image-slider {
   inset: 0;
   scroll-behavior: smooth;
   overflow: hidden;
   white-space: nowrap; // overflow horizontal only
   margin: 0 -8px;

   &.size-2 {
      .slider-item {
         width: 50%;
      }
   }

   &.size-3 {
      .slider-item {
         width: 33.33%;
      }
   }

   .slider-item {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 8px;
      img {
         position: absolute;
         inset: 0;
         border-radius: 16px;

         user-select: none; // prevent user select image
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         pointer-events: none;
      }
   }
}

// control
.slider-control {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 40px;
   width: 40px;
   padding: 8px;
   background-color: #fff;
   color: #999;
   opacity: 0.7;
   z-index: 10;
   border-radius: 50%;
   box-shadow: 2px 4px 10px rgba($color: #000000, $alpha: 0.3);

   cursor: pointer;
   &:hover {
      opacity: 1;
   }
   i {
      user-select: none;
   }
}
.right-arrow {
   right: 16px;
}
.left-arrow {
   left: 16px;
}
