.sidebar {
   width: 180px;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   background-color: #e1e1e1;
   .logo {
      font-weight: 600;
      line-height: 60px;
      margin-left: 12px;
      letter-spacing: -1px;
      font-size: 22px;
   }

   @mixin active {
      color: #cd1818;
      padding-left: 18px;
   }

   &__item {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      font-size: 1.6rem;
      font-weight: 500;
      transition: padding linear 0.15s;
      color: #333;
      cursor: pointer;
      &:hover {
         @include active();
      }
      &.active {
         @include active();
      }
      i {
         margin-right: 5px;
      }
   }
}
