:root {
   --header-nav-color: #cd1818;
}
.header-banner {
   height: 44px;
   text-align: center;
   background-color: #cd1818;
   img {
      height: 100%;
      margin: 0 auto;
   }

   @media screen and (max-width: 768px) {
      display: none;
   }
}
.header {
   background-color: #fff;
   &-top {
      margin-top: 14px;
   }
   &-nav {
      margin-top: 14px;
      height: 44px;
      &-wrap {
         padding: 0 10px;
         background: #cd1818;
         border-radius: 6px;
      }
   }

   @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 105px;
      z-index: 199;

      &-nav {
         display: none;
      }

      &-top {
         margin-top: 0;
      }
   }
}
.header-top-wrap,
.header-nav-wrap {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.brand {
   font-size: 26px;
   font-weight: 600;
   line-height: 1;
}

.nav-list {
   display: flex;
   gap: 20px;
}
.left-nav-list {
   margin-left: auto;
}
.nav-item {
   color: #fff;
   transition: scale linear 0.1s;
   font-weight: 500;

   * + * {
      margin-left: 4px;
   }

   &:hover {
      color: #efd63d;
      scale: 1.05;
   }

   &.active {
      color: #efd63d;
      font-weight: 600;
   }

   a {
      height: 100%;
      display: flex;
      align-items: center;
   }
}