.table {
   width: 100%;
   tr {
      td {
         font-size: 14px;
         color: #3f3f3f;
         padding: 12px 8px;
         font-weight: 500;
         white-space: pre-line;

         &:first-child {
            border-radius: 8px 0 0 8px;
            color: #808080;
         }

         &:last-child {
            border-radius: 0 8px 8px 0;
         }
      }

      &:nth-child(even) {
         td {
            line-height: 2;
            background-color: #f1f1f1;
         }
      }
   }
}
