.product-name {
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 10px;
   font-weight: 500;
}
.header-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   margin-left: 10px;
   font-size: 2rem;
}
.product-footer {
   h1 {
      text-align: center;
   }
}
.main-contain {
   margin-top: 40px;
   // height: 900px;
   .box_right {
      height: 100%;
      // overflow-y: auto;
      // background-color: #f9f9f9;
   }
}

.product-cta {
   margin-bottom: 20px;
   .buy-now {
      border: none;
      padding: 10px 0;
      background-color: #ee4d2d;
      border-radius: 4px;
      color: #fff;
      font-size: 1.8rem;
      cursor: pointer;
      &:hover {
         background-color: #d2462a;
      }
   }
}
.product-policy {
   border-radius: 8px;
   border: 2px solid rgba($color: #000000, $alpha: 0.1);
   // box-shadow: 0 5px 15px 0 rgba($color: #000000, $alpha: .1);
   padding: 10px;
   .icon-doimoi {
      background-position: 0 -35px;
   }
   .icon-baohanh {
      background-position: -105px -35px;
   }
   .icon-box {
      background-position: -70px -35px;
   }
   .policy-title {
      text-align: center;
      margin-bottom: 8px;
   }
   ul li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      list-style: none;
      .icon-frame {
         flex-shrink: 0;
         width: 40px;
         height: 100%;
      }
      .policy-icon {
         background-image: url("../../assets/images/icon.png");
         background-size: 300px 180px;
         width: 32px;
         height: 32px;
      }

      span {
         font-size: 1.6rem;
         padding-left: 5px;
         font-weight: 500;
         color: #333;
         // line-height: 2rem;
      }
   }
}
.product-params {
   border: 1px solid #999;
   padding: 10px;
   border-radius: 5px;
   h1 {
      text-align: center;
   }
   margin-top: 20px;
   .params-table {
      margin-top: 10px;
      width: 100%;
      tr:nth-child(even) {
         background-color: #f2f2f2;
      }
      td {
         padding: 10px 7px;
         font-size: 1.5rem;
         font-weight: 500;
         color: #000;
      }
   }
}
.detail-image {
   margin-top: 20px;
   img {
      width: 100%;
   }
}
.product-detail {
   // width: 75%;
   margin: 20px auto 0;
   text-align: center;
}
.content {
   height: 350px;
   overflow: hidden;
   position: relative;
   transition: height 0.2s linear;

   .content-title {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 500;
   }
   .content-text {
      margin-top: 20px;
      font-size: 2rem;
      text-align: justify;
   }
   .content-image {
      margin-top: 20px;
   }
   &::after {
      content: "";
      position: absolute;
      height: 70px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 9));
      bottom: 0;
      left: 0;
      right: 0;
   }
}
.more-detail-btn {
   width: 35%;
   font-size: 1.6rem;
   font-weight: 500;
   padding: 10px 0;
   margin: 0 auto;
   border-radius: 5px;
   background-color: transparent;
   border: 1px solid #ee4d2d;
}
.product-suggest {
   margin-top: 20px;
   margin-bottom: 50px;
   // border: 1px solid #999;
   border-radius: 15px;
   padding: 10px;
   .suggest-title {
      font-size: 2.2rem;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
   }
}
