.product-filter {
   margin-top: 30px;

   @media screen and (max-width: 756px) {
      margin: 0;
      padding: 0;
      margin-top: 14px;
      .filter-section {
         padding: 0;
         margin-bottom: 14px;
      }
   }
}
.filter-section {
   margin-bottom: 24px;
   padding-left: 5px;
}
.filter-title {
   margin-bottom: 10px;
   font-weight: 500;
}
.filter-list {
   display: flex;
   flex-wrap: wrap;
   margin-top: -12px;
   margin-left: -12px;
   > * {
      margin-left: 12px ;
      margin-top: 12px;
   }
}
