.tiptap {
   > * + * {
      margin-top: 14px;
   }
   p {
      font-size: 16px;
      color: #495057;
   }
   h5 {
      line-height: 1.1;
      font-size: 18px;
      font-weight: bold;
      color: #000;
   }

   img {
      width: 100%;
      &.ProseMirror-selectednode {
         outline: 3px solid #68cef8;
      }
   }

   ul,
   ol {
      padding: 0 10px;
   }
}

.my-editor {
   button {
      padding: 3px 6px;
      border-radius: 4px;

      @mixin active {
         background-color: white;
         color: #cd1818;
      }

      &.active,
      &:hover {
         @include active();
      }
   }
   .editor-container {
      > div {
         // padding-bottom: 50vh;
      }
      .tiptap {
         padding: 30px 10vw 50vh;
         min-height: 30vh;
      }
   }
}
