.gallery {
   height: 80vh;
   width: 90vw;
   position: relative;
   background-color: #fff;
   overflow: hidden;
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px dashed #ccc;
      padding-bottom: 10px;
      padding-top: 6px;
      margin-bottom: 10px;

      .left {
         display: flex;
         align-items: center;
         input {
            display: none;
         }
      }
      h1 {
         margin-right: 30px;
         font-size: 24px;
      }
   }
   &__body {
      .left {
         height: calc(80vh - 61px);
         overflow-y: auto;
      }
   }

   .image-container {
      padding-top: 100%;
      position: relative;
      .image-frame {
         position: absolute;
         inset: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #f1f1f1;
         border: 2px dashed rgba($color: #000000, $alpha: 0.1);
         border-radius: 8px;
         overflow: hidden;
         cursor: pointer;
         &:hover {
            border-color: rgba($color: #000000, $alpha: 0.3);
         }
         &.active {
            border-color: #cd1818;
         }
      }
      img {
         width: 100%;
         user-select: none;
      }
   }
}

.image-info-container {
   border-left: 1px solid #ccc;
}
.image-info {
   h2 {
      font-size: 22px;
      font-weight: 500;
   }
   li {
      a {
         &:hover {
            text-decoration: underline;
         }
      }
      &:last-child {
         margin-bottom: 20px;
      }
   }
}
