.gallery {
   height: 500px;
   max-height: 80vh;
   width: 85vw;
   position: relative;
   background-color: #fff;
   overflow: hidden;

   display: flex;
   flex-direction: column;

   &__body {
      flex-grow: 1;
      overflow: hidden;
      .left {
         flex-grow: 1;
         overflow-y: auto;
      }
   }

   .image-container {
      padding-top: 100%;
      position: relative;
      .image-frame {
         position: absolute;
         inset: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #f1f1f1;
         border: 2px dashed rgba($color: #000000, $alpha: 0.1);
         border-radius: 8px;
         overflow: hidden;
         cursor: pointer;
         &:hover {
            border-color: rgba($color: #000000, $alpha: 0.3);
         }
         &.active {
            border-color: #cd1818;
         }
      }
      img {
         width: 100%;
         user-select: none;
      }
   }
}

.image-info-container {
   border-left: 1px solid #ccc;
}
.image-info {
   h2 {
      font-size: 22px;
      font-weight: 500;
   }
   li {
      a {
         &:hover {
            text-decoration: underline;
         }
      }
      &:last-child {
         margin-bottom: 20px;
      }
   }
}
