.gallery {
   height: 80vh;
   width: 90vw;
   position: relative;
   background-color: #fff;
   overflow: hidden;
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px dashed #ccc;
      padding-bottom: 10px;
      padding-top: 6px;
      margin-bottom: 10px;

      .left {
         display: flex;
         align-items: center;
         input {
            display: none;
         }
      }
      h1 {
         margin-right: 30px;
         font-size: 2rem;
      }
   }
   &__body {
      .left {
         height: calc(80vh - 61px);
         overflow-y: auto;
      }
   }

   .image-container {
      padding-top: 100%;
      position: relative;
      .image-frame {
         position: absolute;
         inset: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #f1f1f1;
         border: 2px dashed rgba($color: #000000, $alpha: 0.1);
         border-radius: 8px;
         overflow: hidden;
         cursor: pointer;
         &:hover {
            border-color: rgba($color: #000000, $alpha: 0.3);
         }
         &.active {
            border-color: #cd1818;
         }
      }
      img {
         width: 100%;
         user-select: none;
      }
   }
}

.image-info-container {
   border-left: 1px solid #ccc;
}
.image-info {
   h2 {
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 500;
   }
   li {
      font-size: 14px;
      margin-bottom: 10px;
      a {
         &:hover {
            text-decoration: underline;
         }
      }
      &:last-child {
         margin-bottom: 20px;
      }
   }
}

.input-label {
   display: inline-block;
   background-color: #8f1313;
   font-size: 1.4rem;
   font-weight: 500;
   border-radius: 8px;
   cursor: pointer;
   span {
      min-width: 100px;
      color: #fff;
      display: inline-flex;
      padding: 4px 16px;
      align-items: center;
      border-radius: 8px;
      background-color: #cd1818;

      transition: transform 0.1s linear;
      transform: translateY(-2px);
   }
   &:hover {
      span {
         transform: translateY(-4px);
      }
   }
   &:active {
      span {
         transform: translateY(0);
      }
   }
}
