.footer {
    background-color: #333;
    margin-top: 60px;
    p {
        text-align: left;
        color: #fff;
        padding: 10px 0;
        font-style: italic;
        font-size: 1.4rem;
    }
}