.footer {
   margin-top: 120px;
   margin-bottom: 50px;

   h5 {
      color: #cd1818;
   }
   .list {
      margin-top: 10px;
      li {
         font-size: 14px;
         display: flex;
         align-items: center;
         * + * {
            margin-left: 4px;
         }
         & + li {
            margin-top: 8px;
         }
      }
   }
}
