.wrap {
   max-width: 500px;
   flex-grow: 1;
   height: 40px;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   z-index: 200;
   // box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.15);
   border: 1px solid rgba($color: #000000, $alpha: 0.1);

   @media screen and (max-width: 768px) {
      max-width: unset;
      width: 100%;
      height: 44px;
   }
}
.form {
   height: 100%;
}
.input {
   height: 100%;
   width: 100%;
   outline: none;
   padding-left: 20px;
   padding-right: 70px;
   font-size: 1.7rem;
   border: none;
   font-weight: 500;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
.search-btn {
   position: absolute;
   top: 0;
   right: 0;
   width: 45px;
   color: #999;
   font-size: 2rem;
}
.input:not(:placeholder-shown) ~ .search-btn {
   color: #333;
}
.search-btn:hover {
   color: #333;
}
.clear-btn,
.loading-btn {
   position: absolute;
   right: 60px;
   height: 100%;
   background-color: transparent;
   top: 0;
   color: #666;
   font-size: 1.8rem;
}

.search-result {
   background-color: #fff;
   width: 500px;
   border-radius: 8px;
   padding: 10px 6px;
   max-height: 60vh;
   overflow: auto;

   @media screen and (max-width: 768px) {
      width: calc(100vw - 20px);
      border-radius: 0 0 6px 6px
   }
   &-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
   }
   .product {
      display: flex;
      padding: 4px 0;
      border-left: 4px solid transparent;
      cursor: pointer;
      &-img {
         width: 60px;
         flex-shrink: 0;
      }
      &-info {
         margin-left: 6px;
         font-size: 14px;
         font-weight: 500;
         line-height: 20px;
         .price {
            color: #cd1818;
            font-size: 18px;
         }
      }
      &:hover {
         border-color: #cd1818;
      }
   }
}
