.table {
   margin-top: 20px;
   width: 100%;
   border-collapse: collapse;
   border: 1px solid #ccc;
   background-color: #fff;
   tr {
      border-bottom: 1px solid #ccc;
      &:last-child {
         border-radius: 0 0 8px 8px;
      }
      &:nth-child(even) {
         // background-color: #e1e1e1/;
      }
   }
   th,
   td {
      padding: 8px 12px;
      font-size: 1.6rem;
      text-align: left;
      font-weight: bolder;
   }
   th {
      background-color: #ccc;
      text-transform: uppercase;
      font-size: 1.4rem;
   }
   .product-image {
      width: 90px;
      img {
         width: 100%;
         border-radius: 5px;
      }
   }
}
