.user-cta {
   display: flex;
   align-items: center;
   * + * {
      margin-left: 8px;
   }
   
   &.revert {
      flex-direction: row-reverse;
      * + * {
         margin-right: 8px;
      }
   }
   .user-name {
      font-size: 1.6rem;
      font-weight: 500;
   }
   .user-image {
      width: 100%;
      border-radius: 50%;
      object-fit: contain;
      object-position: center;
   }
}

.image-frame {
   width: 44px;
   height: 44px;
   border-radius: 99px;
   overflow: hidden;
}
.avatar-placeholder {
   height: 100%;
   width: 100%;
   background-color: #ccc;
   color: #fff;
   text-align: center;
   p {
      font-size: 25px;
      line-height: 44px;
   }
}
