.product-item {
   display: flex;
   position: relative;
   flex-direction: column;
   background-color: #fff;
   box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.15);
   text-decoration: none;
   border: 1px solid transparent;
   padding: 5px;
   padding-top: 10px;
   border-radius: 8px;

   &-body {
      padding: 0 7px;
   }
   &-frame {
      position: relative;
      height: 225px;
      margin-top: 15px;
   }
   &-image {
      height: 100%;
      width: 100%;
      // max-height: 100%; //fix product image
      // max-width: 100%; //fix product image
      object-fit: contain;
      object-position: center;
      transition: transform 0.15s linear;
   }

   &_name {
      font-size: 1.8rem;
      font-weight: 500;
      height: 3.6rem;
      line-height: 1.8rem;
      margin-top: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      @media screen and (max-width: 768px) {
         font-size: 1.6rem;
      }
   }

   &_price {
      font-size: 1.9rem;
      font-weight: 500;
      height: 5rem;
      text-align: left;

      &--old {
         line-height: 1.9rem;
         line-height: 1.9rem;
         text-decoration: underline;
         text-decoration-skip-ink: none;
         text-underline-offset: -5px;
      }
   }

   &-installment {
      position: absolute;
      left: -9px;
      height: 24px;
      background-color: #cd1818;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0 4px;
      span {
         display: inline-block;
         color: #fff;
         border-radius: 2px;
         line-height: 24px;
         font-size: 1.4rem;
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: -6px;
         border-top: 7px solid #cd1818;
         border-left: 7px solid transparent;
         z-index: 99;
         filter: brightness(60%);
      }
   }

   &:hover {
      border-color: #ee4d2d;
      .product-item-image {
         transform: translateY(-8px);
      }
   }
}

.product-item .price-top {
   height: 1.9rem;
   line-height: 1.9rem;
}
.product-item_price--old .discount-percent {
   margin-left: 7px;
}

.product-item_price--current {
   font-size: 2.3rem;
   line-height: 2.3rem;
   color: #cd1818;
   font-weight: 600;

   @media screen and (max-width: 768px) {
      font-size: 2rem;
   }
}

@mixin active-variant {
   border-color: #cd1818;
   background-color: #cd1818;
   color: #fff !important;
}
.variant-box {
   display: flex;
   gap: 6px;
   margin: 6px 0 12px;
   li {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      height: 24px;
      width: 33.33%;

      font-size: 1.4rem;
      border-radius: 99px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      cursor: pointer;

      @media screen and (max-width: 768px) {
         width: 50%;
      }

      &.active {
         @include active-variant();
      }
      &:hover {
         color: #cd1818;
         border-color: #cd1818;
      }
   }
}
