
.header__wrapper {
    background-color: #cd1818;
    color: #fff; 
    position: fixed;
    top: 0;
    left: 180px;
    right: 0;
    z-index: 99;
    padding: 0 40px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
}