@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-family: "Montserrat", sans-serif;
   font-size: 62.5%;
}

/* body {
   background-color: #f8f9fa;
} */

.no-scrollbar::-webkit-scrollbar {
   display: none;
   background-color: red;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
.container {
   margin: 0 auto;
}
.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -6px;
   margin-right: -6px;
   row-gap: 12px;
}

.col {
   padding-left: 6px;
   padding-right: 6px;
}

.disable {
   opacity: 0.6;
   pointer-events: none;
}

@media screen and (max-width: 768px) {
   .container {
      padding: 0 10px;
   }
}


@media screen and (min-width: 1100px) {
   .container {
      max-width: 1100px;
   }
}
