/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --a-5-cl: rgba(0, 0, 0, 0.05);
  --a-10-cl: rgba(0, 0, 0, 0.1);
  --primary-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  --primary-cl: #cd1818;
}

@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa-VariableFont.ttf") format("truetype-variations");
  font-weight: 600 700;
  font-display: swap;
}

html {
   font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* font-size: 62.5%; */
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
   background-color: red;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

button[disabled],
.disable {
   opacity: 0.6;
   pointer-events: none;
}

@media screen and (min-width: 1100px) {
   .container {
      max-width: 1100px;
   }
}
