@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-family: "Montserrat", sans-serif;
   /* font-size: 62.5%; */
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
   background-color: red;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

button[disabled],
.disable {
   opacity: 0.6;
   pointer-events: none;
}

@media screen and (min-width: 1100px) {
   .container {
      max-width: 1100px;
   }
}
