.btn-group,
.product-sort {
   display: flex;
}
.product-sort {
   margin-top: 15px;
   align-items: center;
   h1 {
      margin-right: 20px;
   }

   @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      margin-top: 14px;
      h1 {
         margin: 0;
         margin-bottom: 6px;
         font-size: 18px;
      }

      .btn-group {
         flex-wrap: nowrap;
         overflow: auto;
         .sort-btn {
            flex-shrink: 0;
         }
      }
   }
}
.btn-group {
   margin-left: 12px;
   * + * {
      margin-left: 8px;
   }
   .sort-btn {
      // border-radius: 99px;
      // padding: 6px 10px;
      line-height: 1.2;
      font-size: 1.4rem;
      // border: 1px solid rgba($color: #000000, $alpha: 0.1);
      cursor: pointer;
      span {
         user-select: none;
      }
      &:hover {
         border-color: #cd1818;
      }
   }
   .sort-btn.active {
      span {
         color: #cd1818;
         font-weight: 600;
      }
      // background-color: #cd1818;
      // border-color: transparent;
      // color: #fff;
   }
}
